.left-nav{
  color: #fff;
  font-size: 10px;
  height: 100%;
  background-color: #1D8CE0;
  float: left;
  width:5%;
}
.icon{
  width: 2.6rem ! important;
  height: 2.6rem ! important;
  vertical-align: -0.75rem ! important;
  fill: currentColor ! important;
  overflow: hidden ! important;
}
.left-nav ul{
  padding:0px;
  margin: 0px;
}
.left-nav li{
 list-style: none;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
.main{
  float: left;
  width: 95%;
  background-color: #F8F8FF;
  height: 100%;
  overflow: hidden;
}
.pos-order{
  background-color: #F9FAFC;
  border-right: 1px solid #C0CCDA;
  border-right: 1px solid #C0CCDA;
  padding: 10px;
}
.div-btn{
  margin-top: 1rem;
}
.title{
  height: 20px;
  border-bottom:1px solid #D3DCE6;
  background-color: #F9FAFC;
  padding:10px;
}
.often-goods-list ul li{
  list-style: none;
  float:left;
  border:1px solid #E5E9F2;
  padding:10px;
  margin:5px;
  background-color:#fff;
}
.o-price{
  color:#58B7FF;
}
.goods-type{
  clear: both;
  padding:10px
}
.cookList li{
  list-style: none;
  width:23%;
  border:1px solid #E5E9F2;
  height: auto;
  overflow: hidden;
  background-color:#fff;
  padding: 2px;
  float:left;
  margin: 2px;

}
.cookList li span{

  display: block;
  float:left;
}
.foodImg{
  width: 40%;
}
.foodName{
  font-size: 18px;
  padding-left: 10px;
  color:brown;

}
.foodPrice{
  font-size: 16px;
  padding-left: 10px;
  padding-top:10px;
}
