.left-nav{
  color: #fff;
  font-size: 10px;
  height: 100%;
  background-color: #1D8CE0;
  float: left;
  width:5%;
}
.icon{
  width: 2.6rem ! important;
  height: 2.6rem ! important;
  vertical-align: -0.75rem ! important;
  fill: currentColor ! important;
  overflow: hidden ! important;
}
.left-nav ul{
  padding:0px;
  margin: 0px;
}
.left-nav li{
 list-style: none;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
.main{
  float: left;
  width: 95%;
  background-color: #dddddd;
  height: 100%;
  overflow: hidden;
}
.pos-order{
  background-color: #F9FAFC;
  border-right: 1px solid #C0CCDA;
}
